# Core functionality - changes here should be rare!
/src/app.py                   @pengzzzccc
/src/backend/database.py      @pengzzzccc
/src/backend/routers/auth.py  @pengzzzccc

# The frontend will need refactored soon to be more object oriented.
/src/static/   @pengzzzccc
